
import(parallel)

export(dbs,writemgrscreen,writewrkrscreens,killdebug,dbsmsgstart,dbsmsg,
   formrowchunks,matrixtolist,addlists,getpte,filesort,filecat,linecount,
      readnscramble,getnumdigs,
   distribsplit,distribcat,distribagg,distribtable,docmd,
   ca,cabase,
   setclsinfo,filechunkname,exportlibpaths,filesplit)
 
