
import(parallel,stats,utils,data.table,pdist,regtools)

importFrom("methods", "new")

export(writemgrscreen,writewrkrscreens,killdebug,
          dbs,dbsmsgstart,dbsmsg,dbsdump,
   formrowchunks,matrixtolist,addlists,getpte,filesort,filecat,linecount,
      readnscramble,getnumdigs,filesave,fileread,filesplitrand,fileagg,
      dfileagg,filegetrows,dfilegetrows,fileshuffle,
   distribsplit,distribcat,distribagg,distribrange,
      distribcounts,distribgetrows,docmd,geteltis,distribmeans,
      distribisdt,doclscmd,caknn,dwhich.min,dwhich.max,
   ca,cabase,calm,caglm,caprcomp,cakm,cameans,caquantile,caagg,
   caclassfit,caclasspred,vote,re_code,
   setclsinfo,filechunkname,exportlibpaths,filesplit,
   parpdist,
   ipstrcat
   )
 
